body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: color #333;
}
header{
    background-color: #000;
    color: white;
    text-align: center;
    padding: 40px;
}
.btn {
    display: inline-block;
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    text-decoration-color: noe;
    border-radius: 5px;
}
section{
    padding: 30px;
    background: white;
    margin: 20px;
    border-radius: 8px;
    }
footer{
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}